/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
img {
    max-width: 100%;
}
.container {
    height: 100vh;
    width: 100%;
    /* DEBUG */
    background-color: black;
}

.card-container {
    padding: 30px;
    
}
.card-row {
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    
}

.card {
    width: calc(100% / 7 ); 
    padding: 3px;
    position: relative;
}

.name {
    position: absolute ;
    bottom: 7px;
    left: 3px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
}

/* FOOTER */

.footer-container {
    width: 100%;
    height: 90px;
    background-color: rgb(19, 18, 61);
}

footer {
    height: 70px;
    background-color: rgba(34,34,34,255);
}

.footer-list {
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.footer1 {
    display: flex;
    align-items: center;
}

.footer1 ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.footer1 li {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-left: 10px;
    color: white;
    font-size: 1.5rem;
}

.footer1 p {
    font-size: 0.8rem;
    padding-top: 5px;
}

.footer1 span {
    font-size: 0.7rem;
}

#green {
    color: green;

}

button {
    color: inherit;
}
.button {
    color: red;
    background-color: grey;
    text-align: center;
    line-height: 70px;
}